.App {
  text-align: center;
}

.content {
  margin: 50px;
}

.gradient-container {
  width: 30%;
  background: linear-gradient(45deg, #7ecfd5, #1841cc, #4f54ea);
  -webkit-background-clip: text;
  background-clip: text;
}

.gradient-text {
  font-size: 70pt;
  color: transparent;
}

.subtitle {
  font-size: 40pt;
  color: grey;
}

.blurb {
  width: 50%;
}

.blob-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.blob {
  width: 50%;
}

.App-link {
  color: #61dafb;
}

.main-container {
  display: flex;
  align-items: center;
}

.sidebar {
  width: 30%;
}

.camera-container {
  width: 70%;
  height: 100vh;
}

.logo {
  display: flex;
  justify-content: flex-end;
}