@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@font-face {
  font-family: 'Chillax';
  src: url('../public/fonts/Chillax-Light.otf') format('otf');
  font-weight: thin;
  font-style: normal;
}

@font-face {
  font-family: 'Chillax';
  src: url('../public/fonts/Chillax-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chillax';
  src: url('../public/fonts/Chillax-Medium.otf') format('otf');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Chillax';
  src: url('../public/fonts/Chillax-Bold.otf') format('otf');
  font-weight: bold;
  font-style: normal;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Chillax', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family= Chillax:wght@300;400;500;600;700&display=swap');
p {
  font-family: ' Chillax', sans-serif;
}

h1 {
  font-family: ' Chillax', sans-serif;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-family: ' Chillax', sans-serif;
  font-weight: 600;
  margin: 0;
}

h3 {
  font-family: ' Chillax', sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
}