@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@font-face {
  font-family: 'Satoshi';
  src: url('../public/fonts/Satoshi-Bold.otf') format('otf'),
       url('../public/fonts/Satoshi-Black.otf') format('otf'),
       url('../public/fonts/Satoshi-Medium.otf') format('otf'),
       url('../public/fonts/Satoshi-Regular.otf') format('otf'),
       url('../public/fonts/Satoshi-Light.otf') format('otf'),
}

body {
  margin: 0;
  font-family: 'Satoshi', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slick-prev {
  left: unset !important;
  visibility: hidden;
}

.slick-next {
  right: unset !important;
  visibility: hidden;
}